# Tuples

A tuple is an ordered sequence of elements of different
data types, such as integer, float, string, list or even a
tuple. Elements of a tuple are enclosed in parenthesis
(round brackets) and are separated by commas. Like list
and string, elements of a tuple can be accessed using
index values, starting from 0.

A TUPLE IS A SEQUENCE OF IMMUTABLE PYTHON OBJECTS.

However, an element of a tuple may be of mutable type, eg. a list

**All functions of list work on tuples too**


*   len()
*   count()
*   index()
*   max()
*   min()
*   sum()
*   sorted() - Sorts the tuple but does not make any change in the original tuple

In [ ]:
tup_a = tuple()                         #empty tuple
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = ("a", "b", "c", "d")
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])   #tuple slicing

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [1]:
#TUPLE ASSIGNMENT

(num1,num2)=(10,20)
print(num1)
print(num2)

record = ( "Pooja",40,"CS")
(name,rollNo,subject) = record
print(name)
print(rollNo)
print(subject)

10
20
Pooja
40
CS

In [ ]:
#Tuple concatenation using + operator
tup3=('Red', 'Blue', 'Green')
tup4=(1,2,3,'Magenta')
tup5=tup3+tup4
print (tup5)

('Red', 'Blue', 'Green', 1, 2, 3, 'Magenta')

If there is only a single element in a tuple then the
element should be followed by a comma. If we assign the
value without comma it is treated as integer.

In [ ]:
#adding elements to a tuple
t = tuple()
n=eval(input("Enter the number of elements:"))
for i in range(n):
  a=eval(input("Enter a number"))
  t = t + (a,)  #also called tuple extending using concatenation operator
print(t)

Enter the numner of elements:5
Enter a number1
Enter a number2
Enter a number3
Enter a number4
Enter a number5
(1, 2, 3, 4, 5)

###**Difference between List and tuples**

**List**
1. Is mutable.
2. Generally used to store elements of the same data types.
3. Iterating through a list is slower than in a tuple.

**Tuple**
1. Is immutable
2. Generally used to store elements of different data types.
3. Iteration through a tuple is faster as compared to a list.

### Nested Tuples

In [ ]:
st=((101,"Aman",98),(102,"Geet",95),(103,"Sahil",87),(104,"Pawan",79))
print("S_No"," Roll_No"," Name"," Marks")
for i in range(0,len(st)):
  print((i+1),'\t',st[i][0],'\t',st[i][1],'\t',st[i][2])

S_No  Roll_No  Name  Marks
1 	 101 	 Aman 	 98
2 	 102 	 Geet 	 95
3 	 103 	 Sahil 	 87
4 	 104 	 Pawan 	 79

# Dictionaries

A dictionary is a set of key: value pairs, with the requirement that the keys are unique (within one dictionary)

Dictionaries are ordered and mutable.  

Keys are immutable.

In [ ]:
#creating a simple dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Traversing a dictionary
for x in thisdict:
  print(x,':',thisdict[x])

brand : Ford
model : Mustang
year : 1964

In [ ]:
#Adding a new item in a dictionary
dict1={'Manish':95,'Amit':89,'Pranav':92,'Sangeeta':85}
dict1['Meena']=78   #new key:value pair to be added
print(dict1)

{'Manish': 95, 'Amit': 89, 'Pranav': 92, 'Sangeeta': 85, 'Meena': 78}

In [ ]:
#Modifying an existing item in a dictionary
dict1={'Manish':95,'Amit':89,'Pranav':92,'Sangeeta':85}
dict1['Amit']=78   #marks are changed
print(dict1)

{'Manish': 95, 'Amit': 78, 'Pranav': 92, 'Sangeeta': 85}

**Dictionary methods and built in functions**

*   len() - returns the number of key:value pairs in the dictionary
*   dict() - creates an empty dictionary
*   keys() - returns a list of keys in the dictionary
*   items() - returns a list of tuples (key-value) pair
*   get() - returns the value corresponding to the key passed as the argument. If the key is not present, it will return none.
*   update() - appends the key-value pair to the dictionary
*   del() - deletes the item with the given key

In [ ]:
#examples of the above methods/functions
dict1={'Manish':95,'Amit':89,'Pranav':92,'Sangeeta':85}
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print(dict1.get('Sangeeta')) #print(dict1['Sangeeta'])
del dict1['Manish']    # to delete the dictionary give del dict1
print(dict1)

dict_keys(['Manish', 'Amit', 'Pranav', 'Sangeeta'])
dict_values([95, 89, 92, 85])
dict_items([('Manish', 95), ('Amit', 89), ('Pranav', 92), ('Sangeeta', 85)])
85
{'Amit': 89, 'Pranav': 92, 'Sangeeta': 85}

In [ ]:
#Testing Membership -using in/not in
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(1 in squares)
print(2 not in squares)
# membership tests for key only not value
print(49 in squares)

True
True
False

In [ ]:
#Write a program to enter names of employees and their salaries
#and store them in a dictionary.

def empdict(n):
  dict1={}
  for i in range(n):
    name=input("Enter name of employee: ")
    sal=int(input("Enter salary: "))
    dict1[name]=sal
  print(dict1)

n=int(input("Enter no. of employees: "))
empdict(n)

Enter no. of employees: 2
Enter name of employee: a
Enter salary: 1000
Enter name of employee: b
Enter salary: 1500
{'a': 1000, 'b': 1500}

###**Nested Dictionary**
*   Nested dictionary is an unordered collection of dictionary
*   Slicing Nested Dictionary is not possible.
*   We can shrink or grow nested dictionary as need.
*   Like Dictionary, it also has key and value.
*   Dictionary are accessed using key.

In [2]:
student = {
    'name': 'Alice',
    'grades': {
        'math': 95,
        'science': 88
    }
}

print("Student: " + student['name'])
print("Math Grade: " + str(student['grades']['math']))

Student: Alice
Math Grade: 95